<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IDays" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/WCF_Service_Days/DaysService"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDays"
          contract="IDays" name="WSHttpBinding_IDays">
        <identity>
          <userPrincipalName value="ALPHATRION\Timothy" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>