<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IThousandDays" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/WCF_Service_ThousandDays/ThousandDaysService"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IThousandDays"
          contract="IThousandDays" name="WSHttpBinding_IThousandDays">
        <identity>
          <userPrincipalName value="ALPHATRION\Timothy" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>